.main-container{
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
}
.header-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
.header-text{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color: #9A9AAF;
// margin-right: 10px;
margin-left: 15px;
}
.back-img{
  width: 20px;
  height: 12.25px;
}
.header-blacktext{

  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color:black;
// margin-right: 10px;
margin-left: 15px;
}
.header-button{
  margin-right: 10px;
}
.form-holder{
  background-color: white;
  border-radius: 7px;

  padding-left: 10px;
  padding-right: 10px;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding-top: 10px;
  margin-top: 15px;
  width: 100%;
}
