.drawerclass {
  background-color: #4138c2;
}
.drawer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.drawer-text {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #ffffff;

  margin-left: 20px;
}
.drawer-subheading {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  /* identical to box height */

  color: #a5b4fc;
}
.expanded-items {
  color: white;
  margin-left: -40px;
  border: none;
  border-width: 0px;
}
.expanded-content {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin-left: 55px;
  margin-top: 32px;
}
.logo-holder {
  width: 250px;

  margin-top: 20px;
}
.bottom-section {
  margin-top: 120px;
  margin-bottom: 20px;
}
